@using Microsoft.AspNetCore.Identity
@using HospitalManagement.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userName = user?.UserName ?? "Guest";
    var userImage = string.IsNullOrEmpty(user?.Image) ? "user.png" : user.Image;
    var finalImagePath = Url.Content("~/uploads/" + userImage);
}

<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
            <i class="fa fa-bars"></i>
        </a>
        <form role="search" class="navbar-form-custom" action="search_results.html">
            <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
        </form>
    </div>
    <ul class="nav navbar-top-links navbar-right" style="flex-wrap: nowrap;">
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope"></i>
                <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages animated fadeIn">
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="~/Admin/img/a7.jpg">
                        </a>
                        <div class="media-body">
                            <small class="pull-right">46h ago</small>
                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>.<br>
                            <small class="text-muted">3 days ago at 7:58 pm</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a href="mailbox.html">
                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i>
                <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts animated fadeIn">
                <li>
                    <a href="notifications.html">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a href="notifications.html">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <img src="@finalImagePath" class="img-circle elevation-2" alt="User"
                     style="width: 30px; height: 30px; object-fit: cover;" />
            </a>
            <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                <li class="dropdown-header text-center">
                    <img src="@finalImagePath" class="img-circle elevation-2 mb-2" style="width: 60px; height: 60px; object-fit: cover;" />
                    <br />
                    <strong>@userName</strong>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="~/Identity/Account/Manage/EditProfile">
                        <i class="fa fa-user-edit"></i> Edit Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                        <i class="fa fa-key"></i> Change Password
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="m-0">
                        <button type="submit" class="text-danger logout-link">
                            <i class="fa fa-sign-out"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
